<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search All</title>
    <link href="~/Content/css/Main.css" rel="stylesheet" type="text/css" />
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
       <link rel="shortcut icon" type="image/x-icon" href="../Content/Imges/search1.png" />
</head>
<body id="homelandingbody">
    <div class="headimg">
        <h2 style="color: #555; font-family: arial,sans-serif; margin: 15px 0; text-align: center;">
            SearchNext</h2>
    </div>
    <div style="float: left; padding-left: 20%; padding-top: 5%;">
        <div style="float: left;     width: 250px; height: 250px; border: 1px solid cadetblue;  border-radius: 120px;     padding-left: 45px;  padding-top: 75px;">
            <a href="~/Home/AddIssue" style="width: 200px; color: steelblue;">
                <h2>
                    <b>Add Issue</h2>
            </a>
        </div>
        <div style="float: left; padding-left: 30px;width: 250px;height: 250px;  border: 1px solid cadetblue; border-radius: 120px;   
    padding-top: 75px;     margin-left: 40px;">
            <a href="~/Home/Index" style="width: 200px; color: steelblue;">
                <h2>
                    <b>Search Issue</b></h2>
            </a>
        </div>
          <div style="float: left; padding-left: 30px;width: 250px;height: 250px;  border: 1px solid cadetblue; border-radius: 120px;   
    padding-top: 75px;     margin-left: 40px;">
            <a href="~/Home/ShowCountReport" style="width: 200px; color: steelblue;">
                <h2>
                    <b>Issue Record</b></h2>
            </a>
        </div>
    </div>
</body>
</html>
