@{
    ViewBag.Title = "ShowResolution";
}
<html>
<head>
<meta name="viewport" content="width=device-width" />
    <title>SearchNext</title>
    </head>
    <body>
<h2>ShowResolution</h2>

@ViewBag.HTMLResolution
</body>
</html>
